<% include layout/top.ejs %>

<div class="col-md-9">
    <!-- column 2 -->
    <a href="#"><strong> <%= title %></strong></a>
    <hr>
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <% fields.forEach(field => { %>
                    <th><%= field %></th>
                <% }); %>
            </tr>
            </thead>
            <tbody>
            <% items.forEach(item => { %>
                <tr>
                    <% fields.forEach((field, index) => { %>
                        <% if (!item[field].type) { %>
                            <td><%= item[field] %></td>
                        <% } else if (item[field].type === 'button') { %>
                            <td>
                                <a href="<%= item[field].link %>"
                                   class="btn btn-<%= item[field].buttonType %> <%= item[field].btnClass %>">
                                    <span class="glyphicon <%= item[field].icon %>"></span>
                                </a>
                            </td>
                        <% } else { %>
                            <td>
                                <input data-id="<%= item.id %>"
                                       class="form-check-input js-ckeckbox"
                                       type="checkbox"
                                        <%= item[field].value ? "checked" : "" %>>
                            </td>
                        <% } %>
                    <% }); %>
                </tr>
            <% }); %>
            </tbody>
        </table>
        <% include ../partials/pagination.ejs %>
    </div><!--/row-->
</div><!--/col-span-9-->


<div class="modal fade" id="remove-item" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                Are you sure you want to delete the item?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a href="#" class="btn btn-danger js-remove-btn">
                    Remove
                </a>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.js-remove-item').click(function (e) {
            e.preventDefault();
            const deletePath = $(this).attr('href');
            $('#remove-item').modal('show');
            $('.js-remove-btn').attr('href', deletePath);
        });

        $('.js-ckeckbox').change(async function (e) {
            let formData = new FormData();
            formData.append('published', false);
            await fetch('/admin/category/set-published/' + $(this).data('id'), {
                method: 'POST',
                body: new URLSearchParams({
                    'published': $(this).is(':checked')
                })
            });
        });
    });
</script>

<% include layout/bottom.ejs %>