<%
    const { pages, current, baseUrl } = pagination;
    // ToDo ref reduce
%>
<% if(pages > 1){ %>
    <%= baseUrl %>
    <ul class="pagination pagination-primary">

        <% if(pages > 1){ %>
            <li class="page-item"><a class="page-link" href="<%= baseUrl + `/page${current - 1}` %>">Previous</a></li>
        <% } %>

        <% for (let i = 1; i <= current;  i++ ) { %>
            <% if(current > 6){ %>
                <% if(i === 3){ %>
                    <li class="page-item">
                        <a class="page-link">...</a>
                    </li>
                <% continue; } %>
                <% if(i > 3 && i < (current - 2)) continue; %>
            <% } %>
            
            <li class="page-item <%= current === i ? 'active' : '' %>">
                <a class="page-link" href="<%= baseUrl + `/page${i}` %>">
                    <%= i %>
                </a>
            </li>
        <% } %>

        <% 
            const remainder = pages - current;
        %>
        <% for (let i = current + 1; i <= pages;  i++ ) { %>
            <% if (remainder > 6) { %>
                <% if (i === current + 3) { %>
                    <li class="page-item">
                        <a class="page-link">...</a>
                    </li>
                <% continue; } %>
                <% if((i > (current + 2)) && (i < (pages - 1))) continue; %>
            <% } %>
            <li class="page-item <%= current === i ? 'active' : '' %>">
                <a class="page-link" href="<%= baseUrl + `/page${i}` %>">
                    <%= i %>
                </a>
            </li>
        <% } %>

        <% if(current < pages){ %>
            <li class="page-item"><a class="page-link" href="javascript:void(0);">Next</a></li>
        <% } %>
    </ul> 
<% } %>
