<div class="card single_post">
    <div class="body">
        <a href="/blog/detail/<%= item.furl %>" class="img-post">
            <img class="d-block img-fluid" src="<%= item.previewSrc%>" alt="preview">
        </a>
        <h2><a href="/blog/detail/<%= item.furl %>"><%= item.title %></a></h2>
        <p><%= item.announcement %></p>
    </div>
    <div class="footer">
        <div class="actions">
            <a href="/blog/detail/<%= item.furl %>" class="btn btn-outline-secondary">Читати</a>
        </div>
        <ul class="stats">
            <% item.categories.forEach(function(category){ %>
                <li><a href="/blog/<%= category['CategoryDictionary.code'].toLowerCase() %>>"><%= category['CategoryDictionary.label'] %></a></li>
            <% }); %>
            <li><a href="javascript:void(0);" class="fa fa-eye"><%= item.views %></a></li>
        </ul>
    </div>

</div>